# Dependencies
node_modules/

# Build output
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Prisma local DB files
prisma/*.db
prisma/*.db-journal

# OS / editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Type checking cache
*.tsbuildinfo
